html,
body {
    height: 100%;
}

body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.form-signin {
    width: 400px;
    padding: 15px;
    margin: auto;
}

.btn-primary {
    color: #fff;
    background-color: #191ba9;
    border-color: #191ba9;
}
