<!doctype html>
<html lang="en">
<head>
    <link rel="icon" href="/static/favicon.png" type="image/x-icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.1/socket.io.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/static/script.js" charset="utf-8"></script>

    <title>ViDiscovery</title>
</head>
<body class="text-center">
<div aria-live="polite" aria-atomic="true">
    <div class="toast-container position-absolute top-0 end-0 p-3">
    </div>
</div>
<div id="main-container" style="padding: 30px">
    <div>
        <img width="400" src="/static/logo_transparent.png" alt="Logo">
    </div>
    <div>
        <div class="form-signin d-grid gap-2 col-6 mx-auto">
            <input class="form-control form-control-sm" type="file" id="video-file" onchange="fileSelected(this)" accept=".mp4,.mov">
            <button class="btn btn-md btn-primary" id="search-btn" onclick="searchVideo()" disabled>Search</button>
            <button class="btn btn-md btn-primary" type="button" id="search-btn-loading" disabled style="display: none">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Processing...
            </button>
            <button type="button" class="btn btn-link" onclick="openNav()">Show history</button>
        </div>
    </div>
</div>

<div class="container full-loader-container">
    <div class="row">
        <div class="col-md-12" style="margin-top: 300px">
            <div class="loader16"></div>
        </div>
        <span class="loader-label">Identifying given fragment...</span>
    </div>
</div>

<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <div>
        <h3>Search results history</h3>
        <hr>
        <ul class="list-group" id="history-list" style="padding: 15px;">
            <a onclick="playVideo('/Users/omelnyk/Work/vidiscovery-recognition/data/Creed - Official Trailer 2.mp4')"
               class="list-group-item" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                    <small class="text-muted">Today</small>
                </div>
                <p class="mb-1">Creed - Official Trailer 2</p>
                <p class="mb-1 text-muted">Elapsed-time: 20sec</p>
            </a>
            <a onclick="playVideo('/Users/omelnyk/Work/vidiscovery-recognition/data/Wonder Woman 1984 - Official Main Trailer.mp4')"
               class="list-group-item">
                <div class="d-flex w-100 justify-content-between">
                    <small class="text-muted">2 days ago</small>
                </div>
                <p class="mb-1">Wonder Woman 1984 - Official Main Trailer</p>
                <p class="mb-1 text-muted">Elapsed-time: 25sec</p>
            </a>
            <a onclick="playVideo('/Users/omelnyk/Work/vidiscovery-recognition/data/LVIV POLYTECHNIС IN NUMBERS.mp4')"
               class="list-group-item">
                <div class="d-flex w-100 justify-content-between">
                    <small class="text-muted">3 days ago</small>
                </div>
                <p class="mb-1">LVIV POLYTECHNIС IN NUMBERS.</p>
                <p class="mb-1 text-muted">Elapsed-time: 35sec</p>
            </a>
            <a onclick="playVideo('/Users/omelnyk/Work/vidiscovery-recognition/data/Безславні кріпаки. Офіційний трейлер.mp4')"
               class="list-group-item">
                <div class="d-flex w-100 justify-content-between">
                    <small class="text-muted">5 days ago</small>
                </div>
                <p class="mb-1">Безславні кріпаки. Офіційний трейлер</p>
                <p class="mb-1 text-muted">Elapsed-time: 35sec</p>
            </a>
        </ul>
    </div>
</div>
<div id="result-modal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div id="result-container">
            <div class="alert alert-success" role="alert" hidden>
                <h4 class="alert-heading"></h4>
                <p></p>
            </div>
        </div>
        <button class="btn btn-md btn-primary" id="close-modal-btn" style="width: 150px;margin: 10px auto;" onclick="closeResultModal()">
            Close
        </button>
    </div>
</div>

<div id="video-modal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div id="video-play-container">

        </div>
        <button class="btn btn-md btn-primary" id="close-modal-btn" style="width: 150px;margin: 10px auto;" onclick="closeModal()">
            Close
        </button>
    </div>
</div>

</body>

</html>